<div id="login">
    <div class="container">
        <div class="background-container">
        </div>
        <div class="form-container">
            <welcome-title></welcome-title>
            <div *ngIf="loginMode">
                <login-form></login-form>
            </div>
            <!-- <div *ngIf="signUpMode"> -->
            <!-- <signup-form></signup-form> -->
            <!-- </div> -->

            <!-- <div *ngIf="resetPasswordMode">
                <resetpassword-form></resetpassword-form>
            </div> -->
        </div>
    </div>
</div>