<div id="login-form-container">
    <form class="form" id="form-submit" [formGroup]="loginForm" autoComplete="off">

        <mat-form-field class="input-fields">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ex. pat@example.com" formControlName="emailFormControl">
            <mat-error
                *ngIf="loginForm.get('emailFormControl').hasError('pattern') && !loginForm.get('emailFormControl').hasError('required')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>

        <mat-form-field class="input-fields">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="passwordFormControl">
        </mat-form-field>
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error> -->
    </form>

    <button [disabled]="!loginForm.valid" mat-raised-button class="btn" form="form-submit" (click)="login()">
        Login
    </button>
    <div class="error-message-container"></div>
    <div class="prompt-container">
        <prompt-unit btnText="Sign Up" [promptText]="signUpPromptText" (toggleMode)="toggleSignUpMode()">
        </prompt-unit>
        <prompt-unit btnText="Reset" [promptText]="passwordResetPromptText" (toggleMode)="toggleResetPasswordMode()">
        </prompt-unit>
    </div>
    <!-- <div class="prompt-container">
        <prompt-unit btnText="Sign Up" promptText={signUpPromptText} toggle={loginProps.toggleSignUpMode} />
        <prompt-unit btnText="Reset" promptText={passwordResetPromptText} toggle={loginProps.togglePasswordResetMode} />
    </div> -->
</div>