#login-form-container {
    .form {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-fields {
            // margin: 0.5rem 1rem;
            // padding: 0.5rem;
            color: #483C32;
        }
    }
}