<div id="resetpassword-form-container">
    <form class="form" id="form-submit" [formGroup]="resetPasswordForm" autoComplete="off">

        <mat-form-field class="input-fields">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ex. pat@example.com" formControlName="emailFormControl">
        </mat-form-field>

        <mat-form-field class="input-fields">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPasswordFormControl">
        </mat-form-field>

        <mat-form-field class="input-fields">
            <mat-label>Confirm New Password</mat-label>
            <input matInput type="password" formControlName="confirmNewPasswordFormControl">
        </mat-form-field>
    </form>

    <button [disabled]="!resetPasswordForm.valid" mat-raised-button class="btn" form="form-submit" (click)="resetPassword()">
        Sign Up
    </button>
    <div class="error-message-container"></div>
    <div class="prompt-container">
        <prompt-unit btnText="Login" [promptText]="returnToLoginPromptText" (toggleMode)="toggleLoginMode()">
        </prompt-unit>
    </div>
</div>